/**======================
 *    See old-script.js for correpsonding code
 *========================**/

/**======================
 *    Begin No. 1
 *========================**/

.pokemon-height {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.pokemon-height__item {
    width: auto;
    min-height: auto;
}

.pokemon-height h2 {
    grid-column: 1 / span 3;
    text-align: center;
}

@media all and (min-width: 650px) and (max-width: 750px) {      
    .pokemon-height {
        grid-template-columns: 1fr 1fr;
    }

    .pokemon-height h2 {
        grid-column: 1 / span 2;
        text-align: left;
    }
}

@media all and (max-width: 650px) {    
    .pokemon-height {
        display: flex;
        flex-direction: column;
    }

    .pokemon-height h2 {
        text-align: left;
    }
}

/**======================
 *    End No. 1
 *========================**/