/* VARIABLES */
:root {
    --primary-color: #ffde00;
    --secondary-color: #3b4cca;
    --tertiary-color: #ff0000;
    --tertiary-color-highlight: #FA7676; 
    --bg-color: #fafafa;
    --bg-color-highlight: #F2F2F2;
    --body-light: 300;
    --body-regular: 400;
    --header-medium: 500;
    --header-semi-bold: 600;
    --header-bold: 700;
    --body-font: 'Open Sans', sans-serif;
    --header-font: 'Raleway', sans-serif;
}

/* FONT STYLES */

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: var(--body-regular);
    line-height: 1.6;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: var(--header-font);
line-height: 1;
margin: 1.5em 0 1em;
}

h1 {
font-size: 30px;
font-weight: var(--header-bold);
}

h2 {
font-size: 24px;
font-weight: var(--header-semi-bold);
}

h3 {
font-size: 20px;
font-weight: var(--header-semi-bold);
}

/* POSITIONING */

* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header {
    width: 225px;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    border-right: 5px solid var(--tertiary-color);
    position: fixed;
    background-color: var(--tertiary-color-highlight);
}

.header-top {
    width: 100%;
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 3px 3px var(--secondary-color);
}

.header-top h1 {
    margin: 20px 0;
}

.header-bottom {
    width: 100%;
}

.header-bottom p {
    color: var(--bg-color);
}

main {
    margin: 0 auto 0 225px;
    flex: 1 1 auto;
}

.pokemon-height {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.pokemon-height__item {
    width: auto;
    min-height: auto;
}

.pokemon-height h2 {
    grid-column: 1 / span 3;
    text-align: center;
}

/* TABLE STYLES */

table {
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
}

table tr {
    border: 1px solid black;
}

table td, table th {
    padding: 5px;
    border-left: 1px solid black;
}

/* MEDIA QUERIES */
  
@media all and (min-width: 500px) and (max-width: 750px) {  
    .pokemon-height {
        grid-template-columns: 1fr 1fr;
    }

    .pokemon-height h2 {
        grid-column: 1 / span 2;
        text-align: left;
    }
}

@media all and (max-width: 500px) {  
    .pokemon-height {
        display: flex;
        flex-direction: column;
    }

    .pokemon-height h2 {
        text-align: left;
    }
}