/* VARIABLES */
:root {
    --primary-color: #ffde00;
    --secondary-color: #3b4cca;
    --tertiary-color: #ff0000;
    --tertiary-color-highlight: #FA7676; 
    --bg-color: #fafafa;
    --bg-color-highlight: #F2F2F2;
    --body-light: 300;
    --body-regular: 400;
    --header-medium: 500;
    --header-semi-bold: 600;
    --header-bold: 700;
    --body-font: 'Open Sans', sans-serif;
    --header-font: 'Raleway', sans-serif;
}

/* FONT STYLES */

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: var(--body-regular);
    line-height: 1.6;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: var(--header-font);
line-height: 1;
margin: 1.5em 0 1em;
}

h1 {
font-size: 30px;
font-weight: var(--header-bold);
}

h2 {
font-size: 24px;
font-weight: var(--header-semi-bold);
}

h3 {
font-size: 20px;
font-weight: var(--header-semi-bold);
}
.container {
header {
    width: 100%;
    text-align: left;
    border-bottom: 5px solid var(--tertiary-color);
    position: fixed;
    background-color: var(--tertiary-color-highlight);
}

header h1 {
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 3px 3px var(--secondary-color);
    padding: 0 0 0 20px;
    margin: 20px 0;
}
main {
    margin: 85px auto 0;
    flex: 1;
}
    display: flex;
    height: 100vh;
    align-items: center;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
}

table tr {
    border: 1px solid black;
}

table td, table th {
    padding: 5px;
    border-left: 1 px solid black;
}