.container {
header {
    width: 100%;
    text-align: left;
    border-bottom: 5px solid var(--tertiary-color);
    position: fixed;
    background-color: var(--tertiary-color-highlight);
}

header h1 {
    font-size: 40px;
    color: var(--primary-color);
    text-shadow: 3px 3px var(--secondary-color);
    padding: 0 0 0 20px;
    margin: 20px 0;
}
    display: flex;
    height: 100vh;
    align-items: center;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
}

table tr {
    border: 1px solid black;
}

table td, table th {
    padding: 5px;
    border-left: 1 px solid black;
}